{% extends "docs/base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

<h2>Подсистемы</h2>
<ul>
    <li>
        <a href="{% url 'docs_organizations' %}">Организации</a>
    </li>
    <li>
        <a href="{% url 'docs_teams' %}">Команды и члены команд</a>
    </li>
    <li>
        <a href="{% url 'docs_projects' %}">Проекты</a>
    </li>
    <li>
        <a href="{% url 'docs_tasks' %}">Таски</a>
    </li>
</ul>

{% endblock %}