{% extends "docs/base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}

<h1>Проекты</h1>
<hr>
<hr>

<h2>Создание нового проекта</h2>
Проект могут создавать только менеджеры команды и выше
<p>POST /api/v1/projects/create/</p>
<h3>Request:</h3>
<pre><code>
create_request_schema = {
    'team_id':  {'type': 'integer', 'empty': False, 'required': True},
    'name':     {'type': 'string',  'empty': False, 'required': True}
}
</code></pre>
<h3>Response:</h3>
<pre>
    <code> {{response}} </code>
</pre>

<hr>

<h2>Изменение проекта</h2>
Проект могут изменять только менеджеры команды и выше
<p>POST /api/v1/projects/update/</p>
<h3>Request:</h3>
<pre>
    <code> {{update_request}} </code>
</pre>
<h3>Response:</h3>
<pre>
    <code> {{response}} </code>
</pre>

<hr>

<h2>Удаление проекта</h2>
Проект могут удалять только менеджеры команды и выше
<p></p>
<h3>Request</h3>
<pre><code>
delete_request_schema = {
    'project_id': {'type': 'integer', 'empty': False, 'required': True}
}
</code></pre>
<h3>Response</h3>
<pre><code>
delete_response_schema = {
    'result': {'type': 'string', 'required': True, 'empty': False, 'min': 0}
}
</code></pre>

<hr>

<h2>Подробности проекта</h2>
Подробности могут просматривать только члены команды
<p>POST /api/v1/projects/detail/</p>
<h3>Request:</h3>
<pre><code>
detail_request_schema = {
    'id': {'type': 'integer', 'empty': False, 'required': True},
}
</code></pre>
<h3>Response:</h3>
<pre>
    <code> {{response}} </code>
</pre>

<hr>

<h2>Список проектов организации</h2>
Список доступен только членам организации
<p>POST /api/v1/projects/list_organization/</p>
<h3>Request:</h3>
<pre><code>
list_organization_request_schema = {
    'organization_id': {'type': 'integer', 'empty': False, 'required': True},
}
</code></pre>
<h3>Response:</h3>
<pre><code>
list_response_schema = {
    'projects': {
        'type': 'list',
        'required': True,
        'schema': project_schema
    }
}
</code></pre>

<hr>

<h2>Список проектов команды</h2>
Список доступен только членам команды
<p>POST /api/v1/projects/list_team/</p>
<h3>Request:</h3>
<pre><code>
list_team_request_schema = {
    'team_id': {'type': 'integer', 'empty': False, 'required': True},
}
</code></pre>
<h3>Response:</h3>
<pre><code>
list_response_schema = {
    'projects': {
        'type': 'list',
        'required': True,
        'schema': project_schema
    }
}
</code></pre>

<hr>

<h2>Список моих проектов</h2>
Проекты тех команд в которых я состою
<p>POST /api/v1/projects/list_my/</p>
<h3>Request:</h3>
<pre><code>
list_my_request_schema = {

}
</code></pre>
<h3>Response:</h3>
<pre><code>
list_response_schema = {
    'projects': {
        'type': 'list',
        'required': True,
        'schema': project_schema
    }
}
</code></pre>

{% endblock %}