{% extends "docs/base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}

<h1>Таски</h1>
<hr>
<hr>

<h2>Создание нового таска</h2>
Таск могут создавать только менеджеры команды и выше
<p>POST /api/v1/tasks/create/</p>
<h3>Request:</h3>
<pre><code>
create_request_schema = {
    'project_id': {'type': 'integer', 'empty': False, 'required': True},
    'name': {'type': 'string', 'empty': True, 'required': True}
}
</code></pre>
<h3>Response:</h3>
<pre>
    <code> {{response}} </code>
</pre>

<hr>

<h2>Изменение таска</h2>
Таск могут изменять только менеджеры команды и выше
<p>POST /api/v1/tasks/update/</p>
<h3>Request:</h3>
<pre>
    <code> {{update_request}} </code>
</pre>
<h3>Response:</h3>
<pre>
    <code> {{response}} </code>
</pre>

<hr>

<h2>Удаление таска</h2>
Таск могут удалять только менеджеры команды и выше
<p>POST /api/v1/tasks/delete/</p>
<h3>Request</h3>
<pre><code>
delete_request_schema = {
    'task_id': {'type': 'integer', 'empty': False, 'required': True},
}
</code></pre>
<h3>Response</h3>
<pre><code>
delete_response_schema = {
    'result': {'type': 'string', 'empty': False, 'required': True}
}
</code></pre>

<hr>

<h2>Подробности таска</h2>
Таск могут просматривать только члены команды
<p>POST /api/v1/tasks/detail/</p>
<h3>Request:</h3>
<pre><code>
detail_request_schema = {
    'task_id': {'type': 'integer', 'empty': False, 'required': True},
}
</code></pre>
<h3>Response:</h3>
<pre>
    <code> {{response}} </code>
</pre>

<hr>

<h2>Список тасков проекта</h2>
Список доступен только членам организации
<p>POST /api/v1/tasks/list_project/</p>
<h3>Request:</h3>
<pre><code>
list_project_request_schema = {
    'project_id': {'type': 'integer', 'empty': False, 'required': True},
}
</code></pre>
<h3>Response:</h3>
<pre><code>
list_project_response_schema = {
    'tasks': {
        'type': 'list',
        'required': True,
        'schema': task_schema
    }
}
</code></pre>

<hr>

<h2>Список моих тасков</h2>
Список доступен только членам организации
<p>POST /api/v1/tasks/list_my/</p>
<h3>Request:</h3>
<pre><code>
list_my_request_schema = {

}
</code></pre>
<h3>Response:</h3>
<pre><code>
list_my_response_schema = {
    'tasks': {
        'type': 'list',
        'required': True,
        'schema': task_schema
    }
}
</code></pre>

<hr>

{% endblock %}